GLFW_ICON ICON "fbcraft.ico"

1 VERSIONINFO
 FILEVERSION     0,0,1,0
 PRODUCTVERSION  0,0,1,0
 FILEFLAGSMASK 0x17L
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName", "Green Hill Zone"
      VALUE "FileDescription", "C++Craft Client"
      VALUE "FileVersion", "0.0.1.0"
      VALUE "InternalName", "cppcraft"
      VALUE "LegalCopyright", "Copyright (C) 2013"
      VALUE "OriginalFilename", "cppcraft.exe"
      VALUE "ProductName", "C++Craft"
      VALUE "ProductVersion", "0.0.1.0"
    }
  }

  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x809, 1252
  }
}
